<div class="results-wrapper col-10-12 clearfix">
<% if @posts || @users %>
  <% if @posts %>

    <p class="results-info"><%= @posts.size %> post<%= @posts.size > 1 ? "s" : "" %> correspond<%= @posts.size > 1 ? "ent" : "" %> à votre recherche</p>

    <%= render partial: "posts/posts_list" %>
  <% end %>
  <% if @users %>

    <p class="results-info"><%= @users.size %> utilisateur<%= @users.size > 1 ? "s" : "" %> correspond<%= @users.size > 1 ? "ent" : "" %> à votre recherche</p>

    <% @users.reverse_each do |user| %>
    <div class="user search-result-user clearfix">
      <a href="/users/<%= user.username %>" class="name">
        <%= image_tag(user.picture.url(:thumb), :class => "avatar-50 avatar-feed") %>
        <%= user.username %>
      </a>
    </div>
  <% end %>
<% end %>
  <% else %>
    <p>Aucun résultat</p>
  <% end %>
</div>