<div class="col-10-12">
  <section id="zone_post">
     <%= render partial: "posts/posts_list" %>
  </section>
  <div class="post-loader transparent">
	  <div class="spinner">
	    <div class="bounce1"></div>
	    <div class="bounce2"></div>
	    <div class="bounce3"></div>
	  </div>
	</div>
</div>